/* 阿里矢量图库 */
@import "//at.alicdn.com/t/c/font_3708121_1t3vvi59fvr.css";
/* 标题字体 */
@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');
h1#site-title {
    font-family: 'Zhi Mang Xing', cursive;
}

/* 图片下方文字居中 */
.jg-caption{
    text-align: center !important;
}
/* bili适配 */
/*哔哩哔哩视频适配*/
.aspect-ratio {position: relative;width: 100%;height: 0;padding-bottom: 75%;margin: 3% auto;text-align: center;}      
.aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
/* 字体 */
@font-face {
    font-family: 'tzy';
    /* 字体名自定义即可 */
    src: url('https://fastly.jsdelivr.net/gh/tzy13755126023/BLOG_SOURCE/font/ZhuZiAWan.woff2');
    /* 字体文件路径 */
    font-display: swap;
}

body,
.gitcalendar {
    font-family: tzy !important;
}
