.fish_container{
  z-index: -1;
  width: "100%";
  height: "160px";
  margin: 0;
  padding: 0;
}
#footer-wrap{
  position: absolute;
  text-align: center;
  padding: 20px 20px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#footer{
  background:linear-gradient(to top, rgba(255,252,220,0.5) 0%, rgba(217,167,199,0.3) 100%);
}
/* 页脚透明 */
/*
#footer{
  background: transparent!important;
}
*/
/* 页脚黑色透明玻璃效果移除 */
#footer::before{
    background: transparent!important;
  }
/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
#page-header.post-bg:before {
  background-color: transparent!important;
}
/*夜间模式伪类遮罩层透明*/
[data-theme="dark"]
  #footer::before{
      background: transparent!important;
    }
[data-theme="dark"]
  #page-header::before{
    background: transparent!important;
    }